################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarRental_DB/CarRental_DB/bin/Debug
/CarRental_DB/CarRental_DB/obj/Debug
